SOLANA_RPC_URL=https://mainnet.helius-rpc.com/?api-key=1aee9a37-23d4-4d5e-a547-adc1fc98e231
LOTTO_MINT=Geo5k2fwBCqAjLVR3j5k9BeqaEnpK7RYSezaYRZWpump
LOTTO_TREASURY_WALLET=Geo5k2fwBCqAjLVR3j5k9BeqaEnpK7RYSezaYRZWpump
LOTTO_EXCLUDED_WALLETS=
LOTTO_DRAW_SECRET=replace_me
NEXT_PUBLIC_X_URL=https://x.com
NEXT_PUBLIC_TELEGRAM_URL=https://t.me
NEXT_PUBLIC_SOLSCAN_BASE=https://solscan.io
